html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: url("../images/head-bg.webp");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2;
}

.news-header-container {
    display: flex; 
}

* {
    margin: 0;
    padding: 0;
}

.news-header {
    display: flex;
    background-color: #0085be;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 2);
}

.news-header-item {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0 20px 0 20px;
   
    cursor: pointer;
    font-size: 19px;
    color: white;
    border-right: 1px solid white;
}
.news-header-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 2);
}
.news-header-logo-imge {
    width: 130px;
    padding: 10px;
    margin-top: 10px;
    
}
.news-header-logo {
    border-right: 1px solid white;
}
.news-body {
  padding-top: 160px;
  padding-left: 65px;
  padding-right: 65px;
  
}
.news-body-button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    background: #F8C800;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    margin: 20px 50px;
    position: relative;
}
.news-body-button-text {
    color: white;
}
.news-body-button-text:hover{
    cursor: pointer;
}

.news-body-button:hover {
    background: red;
    transition: 2s;
    /* left: 20px; */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 2);

}

.news-body-container{
  background-color: white;
    border-radius: 50px;
    padding: 20px;
}
.news-body-container h1 {
    color: #F8C800;
    text-align: center;
    margin-bottom: 20px;
}

.news-body-box1-img1{
    width: 100%;
    margin-right: 20px;
}

.news-body-box1-img2{
    width: 100%;
    margin-right: 20px;
}

.news-body-box1-img3{
    width: 100%;
    margin-right: 20px;
}

.news-body-box1 {
    display: flex;
    justify-content: space-between;
}
.group1 {
    width: 32%;
}
.group1 img {
    width: 100%;
}

.body-container {
    padding: 100px;
}

.fix {
    height: 355px;
}

.group1 p {
    text-align: justify;
    margin-top: 10px;
}

.group1 .tittle {
    text-align: center;
    margin-top: 20px;
}
.group1 i{
    margin-left: 402px;

}